@charset "UTF-8";
/*Меню выпадающего фильтра ПРАВОГО*/
/*Filter scss*/
body {
  background: #f8f8f8;
}

#filter_power {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  width: 288px;
  height: 181px;
  left: 952px;
  top: 214px;
  background: #FFFFFF;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 27px 0 0 14px;
}

.filter_power_pokenmon {
  height: 275px !important;
}

.filter_power_title {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #222222;
  margin-left: 10px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox] {
    --active: #ED6F2D;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #ffffff;
    --border-hover: #275EFE;
    --background: #E9E9EB;
    --disabled: #F6F8FF;
    --disabled-inner: #E9E9EB;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
  }
  input[type=checkbox]:checked {
    --b: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type=checkbox]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox]:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox]:not(.switch) {
    width: 21px;
  }
  input[type=checkbox]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox] + label {
    font-size: 14px;
    line-height: 29px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
  }
  input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  input[type=checkbox].switch {
    width: 51px;
    height: 31px;
    border-radius: 100px;
  }
  input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 27px;
    height: 25px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
}
.filter_power__items {
  margin: 10px;
  padding: 0;
  list-style: none;
  width: 235px;
  max-width: 320px;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  /* identical to box height, or 100% */
  color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.filter_power__items li {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #EEEEEF;
  padding: 10px 1px;
  overflow: hidden;
}

.filter_power__items li:first-child {
  border: solid 1px #EEEEEF;
  border-radius: 8px;
  background-color: #EEEEEF;
  padding: 1px;
}

.filter_power__items li:last-child {
  border-bottom: none;
}

.inputGroup {
  background-color: #EEEEEF;
  display: flex;
  /*margin: 10px 0;*/
  position: relative;
  width: 44px;
  height: 28px;
}
.inputGroup input {
  order: 1;
  z-index: 2;
  position: absolute !important;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.inputGroup label {
  /*padding: 12px 30px;*/
  width: 100%;
  display: block;
  color: #000000;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
  text-align: center;
  border-radius: 7px;
}

.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: #ED6F2D;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: "";
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.in:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.сlear_filter {
  width: 175px;
  height: 60px;
  background: #ffffff;
  border-radius: 15px;
  flex-grow: 0;
  padding: 15px;
  position: relative;
  left: 40px;
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.сlear_filter_btn {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  position: absolute;
  background: #ED6F2D;
  border-radius: 15px;
  flex-grow: 0;
  width: 94px;
  height: 24px;
  border: #ED6F2D solid 1px;
  /* left: 0; */
  /* padding-left: 15px; */
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  right: 28px;
  top: 29px;
}

.сlear_filter_btn:hover {
  border: #ED6F2D solid 1px;
}

.сlear_filter_btn_img {
  margin-top: 4px;
}

.сlear_filter_btn_txt {
  margin-left: 10px;
  margin-right: 4px;
}

/*# sourceMappingURL=filter.css.map */
