/*Меню выпадающего фильтра ПРАВОГО*/

#filter_power {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  width: 288px;
  height: 181px;
  left: 913px;
  top: 214px;
  background: #FFFFFF;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 27px 0 0 14px;
}
.filter_power_pokenmon {
  height: 275px !important;

}

.filter_power_title {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #222222;
  margin-left: 10px;
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox']{
    --active: #ED6F2D;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #ffffff;
    --border-hover: #275EFE;
    --background: #E9E9EB;
    --disabled: #F6F8FF;
    --disabled-inner: #E9E9EB;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      //transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }

    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      //margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 51px;
      height: 31px;
      border-radius: 100px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 27px;
        height: 25px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
}

// Demo


.filter_power__items {
  margin: 10px;
  padding: 0;
  list-style: none;
  width: 235px;
  max-width: 320px;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  /* identical to box height, or 100% */
  color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  li {
    //margin: 16px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid #EEEEEF;
    padding: 10px 1px;
    overflow: hidden;
  }
}

.filter_power__items li:first-child {
  border: solid 1px #EEEEEF;
  border-radius: 15px;
  background-color: #EEEEEF;
  padding: 1px;
}


.filter_power__items li:last-child {
    border-bottom: none;
}

.inputGroup {
  background-color: #EEEEEF;
  display: flex;
  /*margin: 10px 0;*/
  position: relative;
  width: 40px;
  height: 28px;
  input {
    //height: 32px;
    order: 1;
    z-index: 2;
    position: absolute !important;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
}

.inputGroup label {
  /*padding: 12px 30px;*/
  width: 100%;
  display: block;
  //text-align: left;
  color: #000000;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
}

.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}


.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';

  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.in:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}