@charset "UTF-8";
/*Меню фильтра*/
#filter_power {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  width: 273px;
  height: 240px;
  left: 952px;
  top: 253px;
  background: #FFFFFF;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 27px 0 0 14px;
}

.filter_power_title {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #222222;
  margin-left: 10px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox] {
    --active: #ED6F2D;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #ffffff;
    --border-hover: #275EFE;
    --background: #E9E9EB;
    --disabled: #F6F8FF;
    --disabled-inner: #E9E9EB;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox]:checked {
    --b: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type=checkbox]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox]:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox]:not(.switch) {
    width: 21px;
  }
  input[type=checkbox]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  input[type=checkbox].switch {
    width: 51px;
    height: 31px;
    border-radius: 100px;
  }
  input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 27px;
    height: 25px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
}
ul {
  margin: 10px;
  padding: 0;
  list-style: none;
  width: 235px;
  max-width: 320px;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  /* identical to box height, or 100% */
  color: #222222;
}
ul li {
  margin: 16px 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

/*# sourceMappingURL=filter.css.map */
