@font-face {
  font-family: Pokemon Classic;
  src: url(../fonts/PokemonClassic.woff2) format("woff2"), url(../fonts/PokemonClassic.woff2) format("woff"), url(../fonts/PokemonClassic.woff2) format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: #f8f8f8;
}

.no_scroll{
  overflow: hidden;
}

.disabled {
  display: none;
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .parent {
    justify-content: center;
  }
  .parent__block1 {
    position: relative;
    width: 1280px;
    height: 832px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .parent__block1_logo {
    position: absolute;
    top: calc(0.088*100vh);
    background: linear-gradient(42.24deg, #ED6F2D 13.34%, #FFD600 106.42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
  }
  .parent__block1_title {
    position: absolute;
    width: 476px;
    //left: 528px;
    //top: 157px;
    top: calc(0.162*100vh);
    font-family: "Pokemon Classic", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 55.1051px;
    line-height: 100%;
    /* or 55px */
    text-align: center;
    color: #000000;
    z-index: 3;
  }
  .parent__block1_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;
    gap: 23px;
    position: absolute;
    //left: 563px;
    //top: 430px;
    top: calc(0.57*100vh);
    background: #FFFFFF;
    border-radius: 40px;
    z-index: 2;
  }
  .parent__block1_form_title {
    width: 227px;
    height: 29px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    flex: none;
    flex-grow: 0;
  }
  #form_authorization {
    display: contents;
  }
  #id_trainer_form {
    width: 327px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E3E5E6;
    border-radius: 8px;
    flex: none;
    flex-grow: 0;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    top: calc(50% - 8px);
    padding-left: 15px;
  }
  .submit_authorization {
    width: 327px;
    height: 48px;
    background: #ED6F2D;
    border-radius: 48px;
    flex: none;
    flex-grow: 0;
    border: none;
    color: white;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
  }
  .gradient_background {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 45px;
    top: 176px;
    background: radial-gradient(59.88% 59.88% at 50% 50%, #F05828 0%, #F7C615 44.27%, #FFDD65 73.96%, #FFE382 80.73%, #FFFFFF 100%);
    filter: blur(200px);
    opacity: 0.5;
    z-index: -1;
  }

  .gradient_background_one {
    position: absolute;
    width: 100%;
    height: 100vh;
    transform: translate(-250px, -450px);
    background: radial-gradient(59.88% 59.88% at 50% 45%, #F05828 0%, #F7C615 44.27%, #FFDD65 73.96%, #FFE382 80.73%, #FFFFFF 100%);
    opacity: 0.8;
    filter: blur(169.663px);
    z-index: -1;
  }



  .header{
    width: 1276px;
    position: relative;
    display: flex;
    top: 40px;
    z-index: 50;
    flex-direction: column;
    //margin-left: 152px;
    margin: 0 auto;
    padding: 0 40px 0 40px;
  }

  .top_menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    //height: 48px;
  }

  .top_menu_logo{
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 15px;
    flex-grow: 0;
    padding: 15px;
  }

  .top_menu_pokemons{
    width: 175px;
    height: 60px;
    background: #ffffff;
    border-radius: 15px;
    flex-grow: 0;
    padding: 15px;
    position: relative;
    left: 40px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;

  }

  .top_menu_pokemons_btn{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    position: absolute;
    background: #ffffff;
    border-radius: 15px;
    flex-grow: 0;
    width: 175px;
    height: 60px;
    border: #ffffff solid 1px;
    left: 0;
    padding-left: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .top_menu_pokemons_btn:hover{
    border: #ED6F2D solid 1px;
  }


  .top_menu_pokemons_btn_img{
    left: 15px;
  }
  .top_menu_pokemons_btn_txt{
    margin-left: 15px;
  }

  .top_menu_exit_btn{
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 15px;
    flex-grow: 0;
    padding: 18px;
    position: absolute;
    right: 40px;
  }

  .top_menu_id{
    position: absolute;
    right: 122px;
    top: 21px;
  }

  .id_txt{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.4;
  }
  .id_number{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  .sub_menu {
    margin-top: 95px;
    display: flex;
  }

  .sub_menu_title{
    position: absolute;
    width: 295px;
    height: 62px;
    left: 40px;
    top: 140px;
    font-family: "Pokemon Classic", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 62px;
    color: #000000;
  }

  .sub_menu_search{
    width: 232px;
    height: 48px;
    margin-left: 370px;
    margin-right: 10px;
    display: flex;
    position: relative;
  }

  #search{
    display: flex;
    padding: 4px 16px 4px 45px;
    width: 232px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 15px;
    border: solid 1px white;
  }

  #search::placeholder {
    color: rgba(34, 34, 34, 0.5);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.592px;
    font-feature-settings: 'case' on;
  }

  .sub_menu_search_img{
    position: absolute;
    top: 14px;
    left: 13px;
  }

  .parent__mainblock_load_more{
    width: 100%;
    display: flex;
    justify-content: center;
    //margin-top: 129px;
    margin-top: 30px;
  }

  .parent__mainblock_load_more_button{
    width: 178px;
    height: 48px;
    background: #ED6F2D;
    border-radius: 48px;
    border: #ED6F2D 1px solid;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    //margin: 30px 0 0 -93px;
  }



  .parent__bottom_line{
    width: 100%;
    display: flex;
    justify-content: center;
  }


  .bottom_line{
    margin: 75px 0 38px 0;
    padding: 0;
    width: 1200px;
    height: 0;
    border: none;
    border-top: 2px solid #ffffff;
  }

  .footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 0 auto;
    width: 1276px;
  }

  .footer_docs_btn{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    position: relative;
    background: #ffffff;
    border-radius: 20px;
    flex-grow: 0;
    width: 184px;
    height: 64px;
    border: #ffffff solid 1px;
    padding: 5px 0 0 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 40px;
  }
  .footer_docs_btn:hover{
    border: #ED6F2D solid 1px;
  }


  .footer_docs_btn_img{
    left: 15px;
  }
  .footer_docs_btn_txt{
    margin-left: 15px;
  }

  .footer_rules_btn{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    position: relative;
    background: #ffffff;
    border-radius: 20px;
    flex-grow: 0;
    width: 184px;
    height: 64px;
    border: #ffffff solid 1px;
    padding: 5px 0 0 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 38px;
  }
  .footer_rules_btn:hover{
    border: #ED6F2D solid 1px;
  }


  .footer_rules_btn_img{
    margin-left: 11px;
  }
  .footer_rules_btn_txt{
    margin-left: 15px;
  }
  .QAStudio{
    width: 115px;
    height: 29px;
    display: flex;
    margin: 18px 0 0 0;
    column-gap: 7px;
  }
  .QA{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #ED6F2D;
  }
  .Studio{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
  }

  .parent_gradient_background{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    position: fixed;
    margin: auto;
    top: 0;
    width: 100%;
    z-index: -2;
  }

  .Empty{opacity: 0.2}

}