/* Desktop */
//@media screen and (min-width: 1280px){
//}

@font-face {
  font-family: Pokemon Classic;
  src: url(../fonts/PokemonClassic.woff2) format('woff2'),
  url(../fonts/PokemonClassic.woff2) format('woff'),
  url(../fonts/PokemonClassic.woff2) format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.parent {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

/* Desktop */
@media screen and (min-width: 1280px){
  .parent {
    display: flex;
    justify-content: center;
  }
  .parent__block1 {
    position: relative;
    //border: solid red 1px;
    width: 1280px;
    height: 832px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px blue;
  }
  .parent__block1_logo {
    position: absolute;
    width: 252px;
    height: 244px;
    left: 523px;
    top: 124px;

    background: linear-gradient(42.24deg, #ED6F2D 13.34%, #FFD600 106.42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
    }

  .parent__block1_title {
    position: absolute;
    width: 476px;
    height: 110px;
    left: 401px;
    top: 193px;
    font-family: "Pokemon Classic", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 55.1051px;
    line-height: 100%;
    /* or 55px */
    text-align: center;
    color: #000000;
    z-index: 3;
  }

  .parent__block1_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
    gap: 30px;
    position: absolute;
    width: 407px;
    height: 275px;
    left: 435px;
    top: 466px;
    background: #FFFFFF;
    border-radius: 40px;
    z-index: 2;
  }

.parent__block1_form_title{
  width: 227px;
  height: 29px;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

  #form_authorization{
    display: contents;
  }

  #id_trainer_form{
    width: 327px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E3E5E6;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    top: calc(50% - 16px/2);
    padding-left: 15px;
    //margin: 25px 0;
  }

.submit_authorization{
  width: 327px;
  height: 48px;
  background: #ED6F2D;
  border-radius: 48px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
  color: white;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}


  .gradient_background {
    position: absolute;
    width: 1335px;
    height: 1068px;
    top: 250px;
    background: radial-gradient(59.88% 59.88% at 50% 50%, #F05828 0%, #F7C615 44.27%, #FFDD65 73.96%, #FFE382 80.73%, #FFFFFF 100%);
    filter: blur(200px);
    z-index: -1;
  }


  .header{
    width: 1280px;
    position: fixed;
    display: flex;
    top: 40px;
    z-index: 50;
  }

  .top_menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    //height: 48px;
  }

  .top_menu_logo{
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 15px;
    order: 0;
    flex-grow: 0;
    padding: 15px;
  }

  .top_menu_pokemons{
    width: 175px;
    height: 60px;
    background: #ffffff;
    border-radius: 15px;
    order: 0;
    flex-grow: 0;
    padding: 15px;
    position: relative;
    left: 40px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;

  }

  .top_menu_pokemons_btn{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    position: absolute;
    background: #ffffff;
    border-radius: 15px;
    order: 0;
    flex-grow: 0;
    width: 175px;
    height: 60px;
    border: none;
    left: 0;
    padding-left: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .top_menu_pokemons_btn:hover{
    border: #ED6F2D solid 1px;
    padding-left: 29px;
  }


  .top_menu_pokemons_btn_img{
    left: 15px;
    //position: relative;
  }
  .top_menu_pokemons_btn_txt{
    margin-left: 15px;
    //position: relative;
  }

}