/* Desktop */
//@media screen and (min-width: 1280px){
//}

@font-face {
  font-family: Pokemon Classic;
  src: url(../fonts/PokemonClassic.woff2) format('woff2'),
  url(../fonts/PokemonClassic.woff2) format('woff'),
  url(../fonts/PokemonClassic.woff2) format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.parent {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  //overflow: hidden;
}

/* Desktop */
@media screen and (min-width: 1280px){
  .parent {
    display: flex;
    justify-content: center;
  }
  .parent__block1 {
    position: relative;
    //border: solid red 1px;
    width: 1280px;
    height: 832px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .parent__block1_logo {
    position: absolute;
    width: 252px;
    height: 244px;
    left: 523px;
    top: 124px;

    background: linear-gradient(42.24deg, #ED6F2D 13.34%, #FFD600 106.42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
    }

  .parent__block1_title {
    position: absolute;
    width: 476px;
    height: 110px;
    left: 401px;
    top: 193px;
    font-family: "Pokemon Classic", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 55.1051px;
    line-height: 100%;
    /* or 55px */
    text-align: center;
    color: #000000;
    z-index: 3;
  }

  .parent__block1_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
    gap: 30px;
    position: absolute;
    width: 407px;
    height: 275px;
    left: 435px;
    top: 466px;
    background: #FFFFFF;
    border-radius: 40px;
    z-index: 2;
  }

.parent__block1_form_title{
  width: 227px;
  height: 29px;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

  #form_authorization{
    display: contents;
  }

  #id_trainer_form{
    width: 327px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E3E5E6;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    top: calc(50% - 16px/2);
    padding-left: 15px;
    //margin: 25px 0;
  }

.submit_authorization{
  width: 327px;
  height: 48px;
  background: #ED6F2D;
  border-radius: 48px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
  color: white;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}


  .gradient_background {
    position: fixed;
    width: 1335px;
    height: 100vh;
    top: 250px;
    background: radial-gradient(59.88% 59.88% at 50% 50%, #F05828 0%, #F7C615 44.27%, #FFDD65 73.96%, #FFE382 80.73%, #FFFFFF 100%);
    filter: blur(200px);
    z-index: -1;
  }


  .header{
    width: 1280px;
    position: fixed;
    display: flex;
    top: 40px;
    z-index: 50;
    flex-direction: column;
  }

  .top_menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    //height: 48px;
  }

  .top_menu_logo{
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 15px;
    order: 0;
    flex-grow: 0;
    padding: 15px;
  }

  .top_menu_pokemons{
    width: 175px;
    height: 60px;
    background: #ffffff;
    border-radius: 15px;
    order: 0;
    flex-grow: 0;
    padding: 15px;
    position: relative;
    left: 40px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;

  }

  .top_menu_pokemons_btn{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    position: absolute;
    background: #ffffff;
    border-radius: 15px;
    order: 0;
    flex-grow: 0;
    width: 175px;
    height: 60px;
    border: #ffffff solid 1px;
    left: 0;
    padding-left: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .top_menu_pokemons_btn:hover{
    border: #ED6F2D solid 1px;
   // padding-left: 29px;
  }


  .top_menu_pokemons_btn_img{
    left: 15px;
    //position: relative;
  }
  .top_menu_pokemons_btn_txt{
    margin-left: 15px;
    //position: relative;
  }

  .top_menu_exit_btn{
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 15px;
    order: 0;
    flex-grow: 0;
    padding: 18px;
    position: absolute;
    left: 1140px;
  }

  .top_menu_id{
    position: absolute;
    left: 1025px;
    top: 21px;
  }

  .id_txt{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.2;
  }
  .id_number{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  .sub_menu {
    margin-top: 95px;
    display: flex;
  }

  .sub_menu_title{
    position: absolute;
    width: 295px;
    height: 62px;
    left: 0;
    top: 140px;
    font-family: "Pokemon Classic", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 62px;
    color: #000000;
  }

  .sub_menu_search{
    width: 232px;
    height: 48px;
    margin-left: 913px;
    display: flex;
    position: relative;
  }

  #search{
    display: flex;
    padding: 4px 16px 4px 45px;
    width: 232px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 15px;
    border: solid 1px white;
  }

  #search::placeholder {
    color: rgba(34, 34, 34, 0.5);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.592px;
    font-feature-settings: 'case' on;
  }

  .sub_menu_search_img{
    position: absolute;
    top: 14px;
    left: 13px;
  }

  /**/

  #menuToggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    gap: 2px;
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 15px;
    justify-content: center;
    margin-left: 7px;
  }

  #menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 26px;
    gap: 20px;

    position: absolute;
    width: 288px;
    height: 265px;
    left: 952px;
    top: 253px;

    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
    border-radius: 30px;

    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(600px, 0px);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  #menuToggle input:checked~ul {
    transform: translate(-270px, 0px);
    //background-image: url(../img/search.svg);
    background: #FFFFFF;
  }

  .checkbox_figure {
    background-image: url(../img/sliders-horizontal.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .parent__mainblock{
    display: grid;
    grid-template-columns: repeat(4, 288px);
    column-gap: 16px;
    row-gap: 60px;
    left: 113px;
    position: absolute;
    width: 1280px;
    margin-top: 295px;
    padding: 0 40px 0 40px;
  }

  .parent__mainblock_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 24px;
    gap: 30px;
    width: 288px;
    height: 315px;
    background: #ffffff;
    backdrop-filter: blur(50px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
  }
  //.
  //.parent__mainblock_card_parameters_badge

  //.parent__mainblock_card_pokemon_id_copy

  .parent__mainblock_card_img{
    position: absolute;
    width: 229px;
    height: 188px;
    left: 0.5px;
    top: -38px;
    display: flex;
    justify-content: center;
    padding-left: 60px;
  }
  .parent__mainblock_card_name{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    position: absolute;
    top: 170px;
  }
  .parent__mainblock_card_parameters{
    display: flex;
    position: absolute;
    top: 214px;
    column-gap: 11px;
  }
  .parent__mainblock_card_parameters_power{
    border-radius: 20px;
    width: 76px;
    height: 33px;
    padding: 7px 0 0 0;
    text-align: center;
  }

  .parent__mainblock_card_pokemon_id{
    display: flex;
    column-gap: 10px;
    position: absolute;
    top: 271px;
  }
  .parent__mainblock_card_pokemon_id_number{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
  }

  .power4{
    color: #45D221;
    border: 1px solid #45D221;
  }

  .power10{
    color: #BB2DED;
    border: 1px solid #BB2DED;
  }
  .power16{
    color: #ED2D2D;
    border: 1px solid #ED2D2D;
  }






}