@font-face {
  font-family: Pokemon Classic;
  src: url(../fonts/PokemonClassic.woff2) format("woff2"), url(../fonts/PokemonClassic.woff2) format("woff"), url(../fonts/PokemonClassic.woff2) format("truetype");
  font-weight: 400;
  font-style: normal;
}

body{    overflow: hidden;}

/* Desktop */
@media screen and (min-width: 1280px) {
  .parent {
    justify-content: center;
  }
  .parent__block1 {
    position: relative;
    width: 1280px;
    height: 832px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .parent__block1_logo {
    position: absolute;
    //width: 252px;
    //height: 244px;
    left: 649px;
    top: 90px;
    background: linear-gradient(42.24deg, #ED6F2D 13.34%, #FFD600 106.42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
  }
  .parent__block1_title {
    position: absolute;
    width: 476px;
    left: 528px;
    top: 157px;
    font-family: "Pokemon Classic", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 55.1051px;
    line-height: 100%;
    /* or 55px */
    text-align: center;
    color: #000000;
    z-index: 3;
  }
  .parent__block1_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;
    gap: 23px;
    position: absolute;
    left: 563px;
    top: 430px;
    background: #FFFFFF;
    border-radius: 40px;
    z-index: 2;
  }
  .parent__block1_form_title {
    width: 227px;
    height: 29px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    flex: none;
    flex-grow: 0;
  }
  #form_authorization {
    display: contents;
  }
  #id_trainer_form {
    width: 327px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E3E5E6;
    border-radius: 8px;
    flex: none;
    flex-grow: 0;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    top: calc(50% - 8px);
    padding-left: 15px;
  }
  .submit_authorization {
    width: 327px;
    height: 48px;
    background: #ED6F2D;
    border-radius: 48px;
    flex: none;
    flex-grow: 0;
    border: none;
    color: white;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
  }
  .gradient_background {
    position: fixed;
    width: 1335px;
    height: 100vh;
    top: 250px;
    background: radial-gradient(59.88% 59.88% at 50% 50%, #F05828 0%, #F7C615 44.27%, #FFDD65 73.96%, #FFE382 80.73%, #FFFFFF 100%);
    filter: blur(200px);
    z-index: -1;
  }
}