/* Desktop */
@media screen and (min-width: 1280px) and (orientation:portrait) {
}
/* ipad_mini_landscape */
@media screen and (min-width: 1133px) and (max-width: 1279px){
}
/* ipad_mini_portrait */
@media screen and (min-width: 744px)  and (max-width: 1132px){
}
/* iphone_se_landscape */
@media screen and (min-width: 568px) and (max-width: 743px){
}
/* iphone_se_portrait */
@media screen and (min-width: 320px) and (max-width: 567px){
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.parent {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

/* ipad_mini_landscape */
@media screen and (min-width: 1133px) and (max-width: 1279px){
    .parent {
      display: flex;
      justify-content: center;
    }
  .parent__block1 {
    position: relative;
    //border: solid red 1px;
    width: 1133px;
    height: 744px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .parent__block1_top {
    display: flex;
    justify-content: center;
    position: relative;
    top: 170px;
  }

  .parent__block1_top_items:nth-child(2) {
    margin: 0 10px 0 10px;
  }

  .parent__block1_center{
    /* Text */
    width: 440px;
    height: 84px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    /* or 42px */
    text-align: center;
    color: #222222;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    top: 196px;
  }

  .parent__block1_bottom{
    /* Text */
    width: 238px;
    height: 42px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    text-align: center;
    color: #222222;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    top: 211px;
    position: relative;
  }
  .gradient_background {
    position: absolute;
    width: 750px;
    height: 1465px;
    top: 150px;
    background: radial-gradient(59.88% 59.88% at 50% 50%, #F05828 0%, #F7C615 44.27%, #FFDD65 73.96%, #FFE382 80.73%, #FFFFFF 100%);
    filter: blur(169.663px);
    transform: rotate(-90deg);
  }
}

/* ipad_mini_portrait */
@media screen and (min-width: 744px)  and (max-width: 1132px){
  .parent {
    display: flex;
    justify-content: center;

  }
  .parent__block1 {
    position: relative;
    //border: solid red 1px;
    width: 1133px;
    height: 744px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .parent__block1_top {
    display: flex;
    justify-content: center;
    position: relative;
    top: 170px;
  }

  .parent__block1_top_items:nth-child(2) {
    margin: 0 10px 0 10px;
  }

  .parent__block1_center{
    /* Text */
    width: 440px;
    height: 84px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    /* or 42px */
    text-align: center;
    color: #222222;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    top: 196px;
  }

  .parent__block1_bottom{
    /* Text */
    width: 238px;
    height: 42px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    text-align: center;
    color: #222222;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    top: 211px;
    position: relative;
  }
  .gradient_background {
    position: absolute;
    width: 1401px;
    height: 1465px;
    top: 500px;
    background: radial-gradient(59.88% 59.88% at 50% 50%, #F05828 0%, #F7C615 44.27%, #FFDD65 73.96%, #FFE382 80.73%, #FFFFFF 100%);
    filter: blur(169.663px);
  }
}




/* iphone_se_landscape */
@media screen and (min-width: 568px) and (max-width: 743px){
    .parent {
      display: flex;
      justify-content: center;

    }
    .parent__block1 {
      position: relative;
      //border: solid red 1px;
      width: 1133px;
      height: 744px;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
    }
    .parent__block1_top {
      display: flex;
      justify-content: center;
      position: relative;
      top: 170px;
    }

    .parent__block1_top_items:nth-child(2) {
      margin: 0 10px 0 10px;
    }

    .parent__block1_center{
      /* Text */
      width: 263px;
      height: 52px;
      font-family: Inter, serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      /* or 26px */
      text-align: center;
      color: #222222;
     /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
      position: relative;
      top: 196px;
    }

    .parent__block1_bottom{
      /* Text */
      width: 181px;
      height: 36px;
      font-family: 'Inter', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      /* or 18px */
      text-align: center;
      color: #222222;
      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
      position: relative;
      top: 211px;
    }
    .gradient_background {
      position: absolute;
      width: 301px;
      height: 661px;
      top: 300px;
      background: radial-gradient(59.88% 59.88% at 50% 50%, #F05828 0%, #F7C615 44.27%, #FFDD65 73.96%, #FFE382 80.73%, #FFFFFF 100%);
      filter: blur(169.663px);
      transform: rotate(-90deg);
    }
  }

/* iphone_se_portrait */
@media screen and (min-width: 320px) and (max-width: 567px){
  .parent {
    display: flex;
    justify-content: center;

  }
  .parent__block1 {
    position: relative;
    //border: solid red 1px;
    width: 1133px;
    height: 744px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .parent__block1_top {
    display: flex;
    justify-content: center;
    position: relative;
    top: 170px;
  }

  .parent__block1_top_items:nth-child(2) {
    margin: 0 10px 0 10px;
  }

  .parent__block1_center{
    /* Text */
    width: 263px;
    height: 52px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    /* or 26px */
    text-align: center;
    color: #222222;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    top: 196px;
  }

  .parent__block1_bottom{
    /* Text */
    width: 181px;
    height: 36px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    text-align: center;
    color: #222222;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    position: relative;
    top: 211px;
  }
  .gradient_background {
    position: absolute;
    width: 632px;
    height: 661px;
    top: 450px;
    background: radial-gradient(59.88% 59.88% at 50% 50%, #F05828 0%, #F7C615 44.27%, #FFDD65 73.96%, #FFE382 80.73%, #FFFFFF 100%);
    filter: blur(169.663px);
    z-index: -1;
  }
}