body {
  background: #f8f8f8;
}

.one_pokemon {
  width: 498px;
  height: 410px;
  position: absolute;
  left: 321px;
  top: 200px;
}

.sub_menu_single_back_btn_img {
  left: 18px;
  top: 3px;
  position: relative;
}

.sub_menu_single {
  margin-top: 39px;
  display: flex;
}

.sub_menu_single_back_btn {
  width: 110px;
  height: 46px;
  background: #ffffff;
  border-radius: 15px;
  flex-grow: 0;
  border: #ffffff solid 1px;
  left: 0;
  padding-left: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.sub_menu_single_back_btn:hover {
  border: #ED6F2D solid 1px;
}

.sub_menu_single_back_btn_link {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-left: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.parameters_block {
  position: relative;
  left: 989px;
  width: 406px;
}

.parameters_block_top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.parameters_block_name {
  position: relative;
  top: -8px;
  font-family: "Pokemon Classic", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 62px;
  color: #000000;
  margin-right: 12px;
}

.parameters_block_pokemon_id {
  display: flex;
  column-gap: 10px;
  position: relative;
  top: 12px;
  width: 146px;
  height: 40px;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background: #ffffff;
  border-radius: 10px;
  flex-grow: 0;
  border: #ffffff solid 1px;
  padding-left: 14px;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
}

.parameters_block_pokemon_id_number {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.parameters_block_pokemon_id_copy {
  cursor: pointer;
}

.parameters_block_parameters {
  display: grid;
  grid-template-columns: 4fr 2fr 11fr;
  column-gap: 2px;
  position: relative;
  top: 20px;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
  background: #ffffff;
  border-radius: 10px;
  flex-grow: 0;
  border: #ffffff solid 1px;
  padding: 28px 0px 0 29px;
  width: 403px;
  margin-top: 24px;
  height: 100px;
  justify-items: start;
}
.parameters_block_parameters progress {
  width: 220px;
}

.parameters_block_trainer {
  display: flex;
  position: relative;
  top: 43px;
  color: #222222;
  background: #ffffff;
  border-radius: 20px;
  border: #ffffff solid 1px;
  width: 403px;
  height: 108px;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.parameters_block_trainer_name {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  row-gap: 8px;
}

.parameters_block_trainer_name_top {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #222222;
  opacity: 0.5;
}

.parameters_block_trainer_name_name {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
}

.parameters_block_trainer_level {
  border-radius: 20px;
  width: 95px;
  height: 33px;
  padding: 7px 0 0 0;
  text-align: center;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  margin-left: 29px;
}

.parameters_block_parameters_row {
  width: 100%;
  display: flex;
}

.parameters_block_trainer_arrow {
  margin-left: 58px;
}

.battle_history {
  display: flex;
  position: relative;
  top: 66px;
  color: #222222;
  background: #ffffff;
  border-radius: 20px;
  border: #ffffff solid 1px;
  width: 403px;
  height: 66px;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.battle_history_txt {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
  margin-left: 7px;
}

.battle_history_data {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
  opacity: 0.5;
  margin-left: 9px;
}

.parameters_block_trainer_level_arrow {
  margin-left: 61px;
}

.battle_history_arrow {
  margin-left: 190px;
}

.battle_history_cross {
  margin-left: 185px;
}

#pokeball_one_pok_parameters {
  margin-left: 5px;
  scale: 130%;
  margin-top: 12px;
}

.battle_history_detail {
  display: flex;
  position: relative;
  color: #222222;
  background: #ffffff;
  border-radius: 20px;
  width: 403px;
  height: 93px;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 20px;
  top: 10px;
}

.battle_history_detail_logo {
  scale: 150%;
  margin-left: 15px;
  margin-top: 6px;
}

.battle_history_detail_pokemon {
  margin-top: 6px;
  margin-left: 25px;
  scale: 94%;
}

.battle_history_detail_pokemon {
  margin-top: 6px;
  margin-left: 40px;
  scale: 94%;
}

.battle_history_detail_data {
  padding-left: 8px;
}

.battle_history_detail_data_txt {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
  opacity: 0.5;
  margin-left: 9px;
}

.battle_history_detail_data_id {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #808080;
  margin-left: 9px;
}

.battle_history_detail_data_win {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #80E21D;
  border-radius: 4px 20px 20px 4px;
  width: 37px;
  height: 93px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 61px;
  position: absolute;
  right: 0;
}

.win_txt {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  transform: rotate(-90deg);
}

.battle_date {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(34, 34, 34, 0.5);
  width: 67px;
  height: 25px;
  left: 15px;
  top: 81px;
  background: #FFFFFF;
  border: 1px solid rgba(34, 34, 34, 0.1);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0 10px;
  position: absolute;
}

.level1 {
  color: #45D221;
  border: 1px solid #45D221;
}

.level2 {
  color: #BB2DED;
  border: 1px solid #BB2DED;
}

.level3plus {
  color: #ED2D2D;
  border: 1px solid #ED2D2D;
}

/*# sourceMappingURL=one_pokemon.css.map */
