.one_pokemon {
  transform: translate(278px, -2px);
}

.sub_menu_back {
  width: 110px;
  height: 46px;
  background: #ffffff;
  border-radius: 15px;
  flex-grow: 0;
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  transform: translate(0px, -56px);

}