/* Desktop */
//@media screen and (min-width: 1280px){
//}

@font-face {
  font-family: Pokemon Classic;
  src: url(../fonts/PokemonClassic.woff2) format('woff2'),
  url(../fonts/PokemonClassic.woff2) format('woff'),
  url(../fonts/PokemonClassic.woff2) format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: #f8f8f8;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ED6F2D;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 100px;
  background-color: #ffffff;
}

/* Desktop */
@media screen and (min-width: 1280px){
  .parent {
    justify-content: center;
  }
  .parent__block1 {
    position: relative;
    //border: solid red 1px;
    width: 1280px;
    height: 832px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .parent__block1_logo {
    position: absolute;
    width: 252px;
    height: 244px;
    left: 523px;
    top: 124px;

    background: linear-gradient(42.24deg, #ED6F2D 13.34%, #FFD600 106.42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
    }

  .parent__block1_title {
    position: absolute;
    width: 476px;
    height: 110px;
    left: 401px;
    top: 193px;
    font-family: "Pokemon Classic", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 55.1051px;
    line-height: 100%;
    /* or 55px */
    text-align: center;
    color: #000000;
    z-index: 3;
  }

  .parent__block1_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
    gap: 30px;
    position: absolute;
    width: 407px;
    height: 275px;
    left: 435px;
    top: 466px;
    background: #FFFFFF;
    border-radius: 40px;
    z-index: 2;
  }

.parent__block1_form_title{
  width: 227px;
  height: 29px;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  flex: none;
  flex-grow: 0;
}

  .parent__mainblock_card_link{
    position: absolute;
    width: 280px;
    height: 310px;
    left: 4px;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    border-radius: 40px;
  }

  #id_trainer_form{
    width: 327px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E3E5E6;
    border-radius: 8px;
    flex: none;
    flex-grow: 0;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    top: calc(50% - 16px/2);
    padding-left: 15px;
    //margin: 25px 0;
  }

.submit_authorization{
  width: 327px;
  height: 48px;
  background: #ED6F2D;
  border-radius: 48px;
  flex: none;
  flex-grow: 0;
  border: none;
  color: white;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}


  .gradient_background {
    position: absolute;
    width: 100%;
    height: 1199px;
    left: 45px;
    top: 176px;
    background: radial-gradient(59.88% 59.88% at 50% 50%, #F05828 0%, #F7C615 44.27%, #FFDD65 73.96%, #FFE382 80.73%, #FFFFFF 100%);
    filter: blur(169.663px);
    opacity: 0.5;
    z-index: -1;
  }




  /*Меню фильтра ПРАВОЕ*/

  #menuToggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    gap: 2px;
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 15px;
    justify-content: center;
    margin-left: 7px;
  }
  /*Меню фильтра ПРАВОЕ чекбокс*/
  #menuToggle > input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle input:checked~#filter_power {
  display: flex;
  }

  .menuToggle_badge {
    width: 18px;
    height: 18px;
    background-color: #ED6F2D;
    font-family: Inter, serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.07999999821186066px;
    text-align: center;
    color: white;
    right: 32px;
    border-radius: 15px;
    position: absolute;
    bottom: 35px;
  }

  .menuToggle_badge.disabled {
    display: none;
  }

  .checkbox_figure {
    background-image: url(../img/sliders-horizontal.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
  }


  //.filter_radio {
  //  width: 51px;
  //  height: 31px;
  //  left: calc(50% - 51px/2);
  //  top: calc(50% - 31px/2 + 0px);
  //  background: rgba(120, 120, 128, 0.16);
  //}
  //
  //.filter_label {
  //  font-family: Inter, serif;
  //  font-style: normal;
  //  font-weight: 500;
  //  font-size: 16px;
  //  line-height: 16px;
  //  color: #222222;
  //}

  /*конец меню фильтра*/

  /* меню силы (левое)*/
  #menuToggle__sorting_power {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0 12px 14px;
    width: 213px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 15px;
    margin-left: 315px;

    font-family: Inter, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #090A0A;
  }

  #menuToggle__sorting_power > input {
    display: flex;
    width: 197px;
    height: 43px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    transform: translateX(-7px);
  }

  /* меню силы (левое). Чекбокс*/
  #menuToggle__sorting_power input:checked~#sorting_power {

    display: flex;
  }

  #menuToggle__sorting_power input:checked~.checkbox_power_figure {
      transform: rotate(180deg);
  }



  ///////////////

  /* меню силы (левое)*/
  #menuToggle__sorting_power1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0 12px 14px;
    width: 213px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 15px;
    margin-left: 315px;

    font-family: Inter, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #090A0A;
  }

  #menuToggle__sorting_power1 > input {
    display: flex;
    width: 43px;
    height: 43px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  /* меню силы (левое). Чекбокс*/
  #menuToggle__sorting_power1 input:checked~#sorting_power1 {

    display: flex;
  }

  #menuToggle__sorting_power1 input:checked~.checkbox_power_figure1 {
    transform: rotate(180deg);
  }

  .checkbox_power_figure1 {
    background-image: url(../img/Vector.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    //transform: rotate(180deg);
  }

  ////////////////

  .checkbox_power_figure {
    background-image: url(../img/Vector.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    //transform: rotate(180deg);
  }

  .menu_title {
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #222222;
  }

  .filter_label {
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #222222;
  }
  /* конец меню силы*/


  .parent__mainblock{
    width: 1276px;
    display: grid;
    grid-template-columns: repeat(4, 288px);
    column-gap: 16px;
    row-gap: 60px;
    //left: 113px;
    position: relative;
    //margin-top: 109px;
    padding: 0 40px 0 40px;
    margin: 0 auto;
    top: 98px;
    margin-bottom: 140px;
  }

  .parent__mainblock_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 24px;
    gap: 30px;
    width: 288px;
    height: 315px;
    background: #ffffff;
    backdrop-filter: blur(50px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 40px;
  }

  .parent__mainblock_card_img{
    position: absolute;
    width: 229px;
    height: 188px;
    left: 0.5px;
    top: -38px;
    display: flex;
    justify-content: center;
    padding-left: 60px;
  }
  .parent__mainblock_card_name{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    position: absolute;
    top: 170px;
  }
  .parent__mainblock_card_parameters{
    display: flex;
    position: absolute;
    top: 214px;
    column-gap: 11px;
  }
  .parent__mainblock_card_parameters_power{
    border-radius: 20px;
    width: 76px;
    height: 33px;
    padding: 7px 0 0 0;
    text-align: center;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .parent__mainblock_card_pokemon_id{
    display: flex;
    column-gap: 10px;
    position: absolute;
    top: 271px;
  }
  .parent__mainblock_card_pokemon_id_number{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
  }

  .parent__mainblock_card_pokemon_id_copy{
    cursor: pointer;
  }


  .power1{
    color: #45D221;
    border: 1px solid #45D221;
  }

  .power2{
    color: #BB2DED;
    border: 1px solid #BB2DED;
  }
  .power3plus{
    color: #ED2D2D;
    border: 1px solid #ED2D2D;
  }

  .disabled_card{
    color: #607D8B;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

  .disabled_card_border{
    border: 1px solid #607D8B;
  }

  .disabled_card_base{
    backdrop-filter: blur(50px);
    opacity: 0.6;
  }

}