/* Desktop */
//sorting_power.css
//@media screen and (min-width: 1280px){
//}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: #f8f8f8;
}

/* Desktop */
@media screen and (min-width: 1280px) {


  /*Меню фильтра*/

  #sorting_power {
    //display: flex;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    width: 288px;
    height: 274px;
    left: 281px;
    top: 214px;
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 27px 0 0 14px;
  }

  .sorting_power_title {
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #222222;
    margin-left: 10px;
  }

  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='radio'] {
      --active: #ED6F2D;
      --active-inner: #fff;
      //--focus: 2px #ED6F2D;
      --border: 8px solid #ED6F2D;
      //--border-hover: #ED6F2D;
      --background: #E9E9EB;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 32px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background .3s, border-color .3s, box-shadow .2s;

      &:after {
        content: '';
        display: block;
        left: -1px;
        top: -1px;
        position: absolute;
        //transition: transform var(--d-t,  .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
      }

      &:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
      }

      &:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;

        &:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }

        & + label {
          cursor: not-allowed;
        }
      }

      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--border-hover);
          }
        }
      }

      &:focus {
        box-shadow: 0 0 0 var(--focus);
      }

      &:not(.switch) {
        width: 32px;

        &:after {
          opacity: var(--o, 0);
        }

        &:checked {
          --o: 1;
        }
      }

      & + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
      }
    }
    input[type='radio'] {
      border-radius: 50%;

      &:after {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, .7));
      }

      &:checked {
        --s: .5;
      }
    }
  }

  .sorting_power__items {
    padding: 10px 0 0 12px;
    list-style: none;
    width: 250px;
    max-width: 320px;

    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 63px;
    /* identical to box height, or 100% */
    color: #222222;

    li {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      border-bottom: 1px solid rgba(120, 120, 128, 0.16);
    }
  }
}


//.sorting_power__items li:first-child {
//  padding: 0px 0 8px 0;
//  margin: 17px 0 5px 0;
//}
//.sorting_power__items li:nth-child(2) {
//  padding: 0px 0 8px 0;
//}
.sorting_power__items li:last-child {
   border-bottom: none;
 }